/* --- defoult settings --- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}
.container.add-width {
    max-width: 530px;
}
.main-title,
.webtech-message {
    text-align: center;
    margin: 20px 0;
}

/* --- table style --- */
.clients-table {
    width: 100%;
}
.clients-table tr {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 3fr 3fr 3fr;
    background-color: #f5f5f5;
    color: #000000;
}
.clients-table thead tr {
    background-color: black;
    color: white;
}
.clients-table tr:nth-child(even) {
    background-color: #e2e2e2;
}
.clients-table th,
.clients-table td {
    text-align: center;
    padding: 5px 10px;
    border: 1px solid white;
}
/* buttons */
.btn-delete,
.btn-edit,
.btn-add,
.btn-back {
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    background-color: white;
    border: none;
}
.btn-edit {
    color: blue;
    margin-right: 10px;
    border: 1px solid blue;
}
.btn-delete {
    color: red;
    border: 1px solid red;
}
.btn-add {
    border: 1px solid green;
    color: green;
    margin: 15px 0;
}
.btn-add:hover {
    background-color: green;
    color: white;
}
.btn-back {
    background-color: black;
    color: white;
    margin: 15px 0 15px 10px;
}
a.btn-add {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    margin-top: 0;
    background-color: #f5f5f5;
    color: black;
}
a.btn-add:hover {
    background-color: black;
    color: white;
}

/* --- form style --- */
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}
.form-field {
    margin-bottom: 15px;
}
.form-control {
    padding: 5px 10px;
    width: 100%;
}